<div class='conclusion'>
  <h2>Conclusion</h2>
  <p>{{ textContent.conclusion }}</p>
  <h2>Methodology</h2>
  <div class='conclusion__methodology'>
    {{#each textContent.methodologyNotes}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  <h2>Credits</h2>
  <div class='conclusion__credits'>
    <p>{{textContent.credits}}</p>
    <p><strong>All Media Assets:</strong> U.S. Census Bureau; Library of Congress.</p>
    <p>
      <div class='underline'>Primary sources for census questionnaires</div>
      <ul>
        {{#each textContent.primarySources}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </p>
    <p>
      <div class='underline'>Secondary sources and recommendations for further reading</div>
      <ul>
        {{#each textContent.secondarySources}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </p>
  </div>
  <div class='two-n'>Designed and developed at <a href='http://two-n.com/'><img src='assets/images/2n_logo.png'></a>
  </div>
</div>