<div class='intro'>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<time class='intro__time'>March 2020</time>

	<div class='intro__img'>IMAGE PLACEHOLDER</div>

	<p class='intro__text'>{{textContent.introPara}}</p>

	<p class='intro__disclaimer'>{{textContent.disclaimer}}</p>

	<div class='intro__dropdown'>
		<select></select>
		<h4>or <a href="#interactive">explore on your own</a> below</h4>
	</div>
</div>